app/views/global.pug
extends layout/_layout
block content
  include ./components/_header.pug
  br
  br
  main
    | These are global components:
    br
    br
    h1 This is heading 1
    br
    h2 This is heading 2
    br
    h3 This is heading 3
    br
    br
    a(href="#", class="button") Primary button
    br
    br
    a(href="#", class="button-secondary") Secondary button
    br
    br
    a(href="#") This is a link
    br
    br
    .ckeditor
      p These are components of ckeditor:
      p This is paragrap in ckeditor
      ul
        li This is ul-li listing
        li This is ul-li listing
        li This is ul-li listing
      ol
        li This is ol-li listing
        li This is ol-li listing
        li This is ol-li listing
  br
  br
  include ./components/_footer.pug

app/global.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Website name</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Personal Website">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://website-name.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Website name">
    <meta property="og:description" content="Your description">
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicon.ico">
    <style></style>
    <!-- build:css css/styles.min.css-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- endbuild-->
  </head>
  <body>
    <div class="body-wrapper">
      <header class="header">
        <div class="container">HEADER SECTION</div>
      </header><br><br>
      <main>These are global components:<br><br>
        <h1>This is heading 1</h1><br>
        <h2>This is heading 2</h2><br>
        <h3>This is heading 3</h3><br><br><a class="button" href="#">Primary button</a><br><br><a class="button-secondary" href="#">Secondary button</a><br><br><a href="#">This is a link</a><br><br>
        <div class="ckeditor">
          <p>These are components of ckeditor:</p>
          <p>This is paragrap in ckeditor</p>
          <ul>
            <li>This is ul-li listing</li>
            <li>This is ul-li listing</li>
            <li>This is ul-li listing</li>
          </ul>
          <ol>
            <li>This is ol-li listing</li>
            <li>This is ol-li listing</li>
            <li>This is ol-li listing</li>
          </ol>
        </div>
      </main><br><br>
      <footer>
        <div class="container">FOOTER SECTION</div>
      </footer>
    </div>
  </body>
  <!-- build:js js/main.min.js async-->
  <script type="text/javascript" async src="js/common.js"></script>
  <script type="text/javascript" async src="js/main.js"></script>
  <!-- endbuild-->
</html>
